<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
           
            @if (ClassArrowHistory)
            {
                <NavLink class="nav-link" @onclick="()=>ArrowHistory()">
                    <span class="oi oi-caret-bottom"> </span>

                    <span class="@IsHidden">Test CRUD</span>

                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" @onclick="()=>ArrowHistory()">
                    <span class="oi oi-caret-left"> </span>

                    <span class="@IsHidden">Test CRUD</span>

                </NavLink>
            }
            @if (expandSubNavHistory)
            {
                <NavLink class="nav-link" href="Application/Create" Match="NavLinkMatch.All">
                    &nbsp;&nbsp;&nbsp;&nbsp; <span class="oi oi-cart"> </span>

                    <span class="@IsHidden"> Create</span>

                </NavLink>
                <NavLink class="nav-link" href="Application/GetAll" Match="NavLinkMatch.All">
                    &nbsp;&nbsp;&nbsp;&nbsp; <span class="oi oi-envelope-closed"> </span>

                    <span class="@IsHidden">Fetch data</span>

                </NavLink>
               
            }
          
            <NavLink class="nav-link" href="DataGride/crud" Match="NavLinkMatch.All">
                <span class="oi oi-file"> </span>

                <span class="@IsHidden">DataGride</span>

            </NavLink>
            <NavLink class="nav-link" href="Demo" Match="NavLinkMatch.All">
                <span class="oi oi-person"> </span>

                <span class="@IsHidden">Demo</span>

            </NavLink>


        </div>
    </nav>
</div>
<style>
    .IsHidden {
        visibility: hidden;
    }
</style>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNavHistory;
    private bool expandSubNavUsage;
    private bool ClassArrowHistory;
    private bool ClassArrowUsage;
    private int AccountTypeID;

    [Parameter]
    public string IsHidden { get; set; } = "IsHidden";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ArrowHistory()
    {
        ClassArrowHistory = !ClassArrowHistory;
        expandSubNavHistory = !expandSubNavHistory;
    }

    private void ArrowUsage()
    {
        ClassArrowUsage = !ClassArrowUsage;
        expandSubNavUsage = !expandSubNavUsage;
    }
}